<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeerMe-SF</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>



    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/creative.css" rel='stylesheet' type='text/css'></link>
    <link href="/stylesheets/creative.min.css" rel='stylesheet' type='text/css'></link>
    <script type="text/javascript" src="/scripts/app.js">

    </script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">San Francisco's Beer Buyer Guide</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Nearby</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">BeerMe <br> San Francisco</h1>
                <hr>
                <p>Your Local Beer Reference for San Francisco</p>
                <div class="container">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <form class="search" id="searchForm" action="/search">
                                    <input type="search" autofocus="autofocus" name="q" placeholder="Search Beers">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
 <h5 class="main-title"> Beer Results </h5>
 <div  class="row">
   <div id="beers">
     <script id="beer-template" type="text/x-handlebars-template">
     <div class="col l9">
         <div class="card">
             <div class="card-content">
               <ul>
                 <li>
                   <p><b>Name: </b>{{name}}</p>
                 </li>
                   <p><b>Description: </b>{{description}}</p>
                 <li>
                   <p><b>Rating: </b>{{rating}}</p>
                 </li>
                 <li>
                   <p><b>Brewery: </b>{{Brewery}}<p>
                 </li>
                 <li>
                   <p><b>ABV: </b>{{abv}}</p>
                 </li>
               </ul>
             </div>
         </div>
     </div>
   </script>
 </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thirsty?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                        <h3>Search your favorite brews</h3>
                        <p class="text-muted">View ABV, Descriptions, and more!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-home text-primary sr-icons"></i>
                        <h3>Add your local locations</h3>
                        <p class="text-muted">Never forget where you found your new and old favorites!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                        <h3>Explore your neighborhood</h3>
                        <p class="text-muted">See what brews your area has to offer.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Spread the love and hoppiness</h3>
                        <p class="text-muted">Help other beer enthusiasts in town!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    THINGS
                                </div>
                                <div class="project-name">
                                    Beer Stuff
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Something
                                </div>
                                <div class="project-name">
                                    Something
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Something
                                </div>
                                <div class="project-name">
                                    Something
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Something
                                </div>
                                <div class="project-name">
                                    Something Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Something
                                </div>
                                <div class="project-name">
                                    Something
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/images/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="/images/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Something
                                </div>
                                <div class="project-name">
                                    Something
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</body>

</html>
